[user]
    name = Andrew J. Pierce
    email = andrew.j.pierce@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    pr = pull
    fu = fetch upstream
    diffs = diff --stat
    diffc = diff --cached
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    newb = "!git fetch upstream; git checkout upstream/dev; git checkout -b $2"
[push]
    default = matching
