[user]
    name = Andrew J. Pierce
    email = andrew.j.pierce@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=1,5 -R      ; npm install -g diff-so-fancy
[color]
    ui = auto
[alias]
    co = checkout
    st = status
    diffs = diff --stat
    diffc = diff --cached
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    newb = "!git fetch upstream; git checkout upstream/dev; git checkout -b $2"
[push]
    default = matching
